/* Установка стилей для основного контейнера страницы */
body { 
  background-color: rgb(255, 255, 255);  /* Белый фон */
  margin: 0;  /* Убираем отступы по умолчанию */
  padding: 0;  /* Убираем внутренние отступы по умолчанию */
  font-family: Arial, sans-serif;  /* Шрифт для текста */
  height: 100%;  /* Занимает 100% высоты экрана */
}



/* Хедер */
.header { 
  background-color: rgb(0, 0, 0);  /* Черный фон хедера */
  display: flex;  /* Используем flexbox для размещения элементов */
  justify-content: space-between;  /* Распределение пространства между элементами */
  height: 70px;  /* Высота хедера */
  box-shadow: 0 5px 10px;  /* Тень под хедером */
  position: sticky;  /* Хедер будет "прилипать" при прокрутке */
  top: 10;  /* Отступ от верхнего края страницы */
}

/* Стили для навигационного меню в хедере */
.header > nav > ul { 
  display: flex;  /* Используем flexbox для размещения элементов */
  list-style: none;  /* Убираем стандартное маркирование списка */
  margin-top: 30px;  /* Верхний отступ для списка */
}

/* Стили для элементов списка в навигационном меню */
.header > nav > ul > li > a { 
  text-decoration: none;  /* Убираем стандартное оформление ссылок */
  padding: 10px;  /* Внутренний отступ для каждого элемента */
  border-width: 0.5px;  /* Ширина границы элемента */
  margin-left: 20px;  /* Левый отступ между элементами */
  margin-right: 40px;  /* Правый отступ между элементами */
  color: rgb(230, 232, 236);  /* Цвет текста ссылок */
}

/* Стили при наведении на ссылки в навигационном меню */
.header > nav > ul > li > a:hover { 
  background-color: aliceblue;  /* Фон при наведении */
  color: black;  /* Цвет текста при наведении */
}



/* Лого */
.logo { 
  display: flex;  /* Используем flexbox для размещения элементов */
  align-items: center;  /* Выравнивание элементов по центру вертикали */
  justify-content: center;  /* Выравнивание элементов по центру горизонтали */
  margin-top: 10px;  /* Верхний отступ для лого */
}

/* Стили для изображения внутри лого */
.logo > a > img { 
  height: 50px;  /* Высота изображения */
  margin-right: 10px;  /* Правый отступ между изображением и текстом */
  margin-left: 40px;  /* Левый отступ между изображением и другими элементами */
}

/* Стили для ссылки внутри логотипа */
.logo > a { 
  text-decoration: none;  /* Убираем стандартное оформление ссылок */
}

/* Стили для заголовка внутри логотипа */
.logo > a > h3 { 
  color: rgb(230, 232, 236);  /* Цвет текста заголовка */
  font-size: 24px;  /* Размер шрифта заголовка */
  margin: 0;  /* Убираем внешние отступы заголовка */
  transition: 0.5s;  /* Плавное изменение стилей при переходе */
}

/* Увеличение лого при наведении */
.logo > a > h3:hover {
  transform: scale(1.1);
}
 


/* Главная" */
.conteinerMain { 
  text-align: center;  /* Выравнивание текста по центру */
  background-color: rgba(240, 248, 255, 0.411);  /* Цвет фона с прозрачностью */
  margin-top: 20px;  /* Верхний отступ */
  font-size: 20px;  /* Размер шрифта */
  flex-grow: 1;  /* Увеличение размера в соответствии с доступным пространством */
}

/* Стили для контейнера внутри секции "главная" */
.conteinerMain > div { 
  color: rgb(34, 33, 33);  /* Цвет текста */
  display: inline-block;  /* Отображение как блочный элемент с возможностью выравнивания по горизонтали */
  text-align: left;  /* Выравнивание текста слева */
  width: 950px;  /* Ширина контейнера */
}

/* Стили для изображения внутри контейнера "главная" */
.conteinerMain > div > div > img { 
  float: right;  /* Размещение изображения справа от текста */
  width: 400px;  /* Ширина изображения */
  margin-left: 20px;  /* Левый отступ от текста */
  border-style: solid;  /* Стиль границы */
  border-width: 2px;  /* Ширина границы */
}

/* Стили для элементов списка внутри контейнера "главная" */
.conteinerMain > div > ul > li { 
  margin-bottom: 20px;  /* Нижний отступ между элементами списка */
  color: rgba(0, 0, 0, 0.615);  /* Цвет текста элементов списка */
}

/* Стили для ссылок внутри элементов списка контейнера "главная" */
.conteinerMain > div > ul > li > a { 
  text-decoration: none;  /* Убираем стандартное оформление ссылок */
  font-weight: bold;  /* Жирный шрифт */
  color: rgba(0, 0, 0, 0.615);  /* Цвет текста ссылок */
}

/* Стили для абзацев внутри контейнера "главная" */
.conteinerMain > div > p { 
  color: rgba(0, 0, 0, 0.615);  /* Цвет текста абзацев */
}

 

/* Футер */
.wrapper { 
  min-height: 100%;  /* Минимальная высота равная 100% высоты видимой области */
  display: flex;  /* Используем flexbox для размещения элементов */
  flex-direction: column;  /* Расположение элементов в столбец */
}

/* Стили для блока "футер" */
.footer { 
  background-color: #000000;  /* Черный фон */
  color: white;  /* Белый цвет текста */
  text-align: center;  /* Выравнивание текста по центру */
  padding: 10px;  /* Внутренний отступ */
}

/* Стили для ссылок внутри списка в блоке "футер" */
.footer>ul>li>a { 
  color: white;  /* Белый цвет текста ссылок */
  text-decoration: none;  /* Убираем стандартное оформление ссылок */
  font-style: italic;  /* Курсивное начертание текста */
}

/* Стили для элементов списка в блоке "футер" */
.footer>ul>li { 
  margin: 10px;  /* Внешний отступ для элементов списка */
  list-style: none;  /* Убираем стандартное маркирование списка */
}

 

/* Библиотека */
main { 
  max-width: 800px;  /* Максимальная ширина блока main */
  margin: 0 auto;  /* Центрирование по горизонтали */
  padding: 20px;  /* Внутренний отступ */
}

/* Стили для контейнера в секции "библиотека" */
.container { 
  display: inline-block;  /* Отображение как блочный элемент с возможностью выравнивания по горизонтали */
  margin-bottom: 40px;  /* Нижний отступ */
  text-align: center;  /* Выравнивание текста по центру */
  margin: 30px;  /* Внешний отступ */
}

/* Стили для изображения внутри контейнера "библиотека" */
.container img { 
  width: 200px;  /* Ширина изображения */
  height: 200px;  /* Высота изображения */
  object-fit: cover;  /* Растягивание изображения для полного заполнения контейнера */
  border-radius: 50%;  /* Закругление углов для создания эффекта круга */
}

/* Стили для ссылок внутри контейнера "библиотека" */
.container a { 
  background-color: #4caf50;  /* Цвет фона ссылки */
  color: white;  /* Белый цвет текста */
  padding: 10px 20px;  /* Внутренние отступы */
  border-radius: 5px;  /* Закругление углов блока */
  text-decoration: none;  /* Убираем стандартное оформление ссылок */
  text-align: center;  /* Выравнивание текста по центру */
}

/* Стили для ссылок внутри параграфов в блоке div в секции "библиотека" */
div>p>a { 
  text-decoration: none;  /* Убираем стандартное оформление ссылок */
  color: rgba(0, 0, 0, 0.615);  /* Цвет текста ссылок */
  font-weight: bold;  /* Жирный шрифт */
}



/* Галерея */
.gallery { 
  display: grid;  /* Используем grid layout для распределения изображений */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  /* Автоматическое заполнение колонок с минимальной шириной 200px */
  gap: 10px;  /* Расстояние между изображениями */
  margin: 20px;  /* Отступ вокруг галереи */
}

/* Стили для изображений в галерее */
.gallery img { 
  width: 100%;  /* Заполняем 100% ширины родительского контейнера */
  height: auto;  /* Сохраняем пропорции изображения */
  border-radius: 8px;  /* Закругление углов */
  transition: transform 0.2s;  /* Плавное изменение при наведении */
}

/* Стили для изображений в галерее при наведении */
.gallery img:hover { 
  transform: scale(1.1);  /* Увеличение изображения */
}

/* Стили для модального окна */
.modal { 
  display: none;  /* Начально скрываем модальное окно */
  position: fixed;  /* Фиксированное положение */
  z-index: 1;  /* Поверх всех элементов на странице */
  left: 0;  /* Располагаем слева */
  top: 0;  /* Располагаем сверху */
  width: 100%;  /* Занимает 100% ширины */
  height: 100%;  /* Занимает 100% высоты */
  overflow: auto;  /* Добавляем прокрутку, если содержимое не помещается */
  background-color: rgba(0, 0, 0, 0.9);  /* Цвет фона с прозрачностью */
}

/* Стили для изображения в модальном окне */
.modal img { 
  margin: auto;  /* Выравнивание по центру */
  display: block;  /* Блочный элемент */
  max-width: 80%;  /* Максимальная ширина изображения */
  max-height: 80%;  /* Максимальная высота изображения */
  position: absolute;  /* Абсолютное позиционирование */
  top: 50%;  /* Располагаем на половине высоты */
  left: 50%;  /* Располагаем на половине ширины */
  transform: translate(-50%, -50%);  /* Центрируем по центру экрана */
}

/* Стили для кнопки закрытия модального окна */
.close { 
  position: absolute;  /* Абсолютное позиционирование */
  top: 15px;  /* Отступ сверху */
  right: 35px;  /* Отступ справа */
  color: #f1f1f1;  /* Белый цвет текста */
  font-size: 40px;  /* Размер шрифта */
  font-weight: bold;  /* Жирный шрифт */
  cursor: pointer;  /* Задаем вид курсора при наведении */
}

/* Стили для кнопки закрытия модального окна при наведении */
.close:hover { 
  color: #bbb;  /* Светло-серый цвет текста при наведении */
}



  
  
